// About Section

.aboutItems {
	display: flex;

	.aboutContent{
		padding: 20px;
		width: 50%;
	}

	.profilePic {
		max-width: 350px;
		position: relative;
		margin-left: 120px;

		.me {
			position: relative;
			z-index: 10;
		}
	}
}

.emptyFrame {
	background-image: url("https://hd.unsplash.com/photo-1459664018906-085c36f472af");
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	padding: 20px;
	left: -50px;
	top: -50px;

	div {
		background-color: white;
		padding: 150px;
	}
} 

// Skill Section 
.skills {
	display: flex;
	flex-wrap: wrap;
	.skill {
		width: calc(33.33% - 50px);
		margin: 30px 25px;
		padding: 10px;
		position: relative;

		img {
			max-width: 250px;
			margin: 0 auto;
		}

		p {
			font-size: 14px;
			margin: 40px 0 30px 20px;

		}

		h3 {
			display: inline-block;
			position: absolute;
			top: 20px;
			left: -15px;
			transform: rotate(270deg);
			font-size: 16px;
			font-weight: normal;
		}
	}
}

// Portfolio

.portfolioDisplay {
	position: relative;
}

.portfolioItem {
	position: relative;
	margin: 30px;
	background-size: cover;
	display: flex;
	align-items: center;
	background-attachment: fixed;

	img {
		width: 50%;
	}

	h3 {
		margin: 0;
		font-size: 30px;
	}

	h4 {
		font-size: 18px;
	}

	.portfolioItemInfo {
		padding: 30px 60px;
		width: calc(50% - 40px);
		background-color: white;
		position: absolute;
		top: 20px;
		bottom: 20px;
		right: 20px;
	}

}

.portfolioItem.trada {
	background-image: url("images/water.jpg");
}

.portfolioItem.spark6-date-generator {
	background-image: url("images/sky.jpg");
}

.portfolioItem.the-complement-closet {
	background-image: url("images/trees.jpg");
}

.portfolioItem.fourty-five-degrees {
	background-image: url("images/canyon.jpg");
}


.cycler{
	height: 250px;
	width: 90%;
	position:relative;
	margin-left: auto;
	padding: 0 5px;
}
.cycler img {position:absolute;
	z-index:1
}

.cycler img.active {
	z-index:3
}