nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

ul.menu {
	margin: 0;
	padding: 20px;
	
	li {
		list-style-type: none;
		display: inline;
		margin-right: 10px;

		a {
			padding: 10px;
		}
	}
}